<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hustle Calendar &middot; Can't Stop, Won't Stop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 900px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/ico/favicon.png">
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <h3 class="muted">Hustle Calendar</h3><br />
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Can't Stop.<br />Won't Stop.</h1>
        <p class="lead">Keep track of the deadlines for all the incubators, pitch contests, and important events going on in the valley.</p>
        <!-- <a class="btn btn-large btn-success" href="#">Sign up for our Weekly Newsletter</a> -->
      </div>

      <div>
        <center><iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=p643h9pqg8ucjbn10j6ilq2ugc%40group.calendar.google.com&amp;color=%23875509&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe></center>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span12">
          <center><h4>Coming Up</h4><center>
        </div>

        <div class="span12">
          <h4>TechStars Chicago</h4>
          <p>Applications due March 1st</p>

          <h4>LAUNCH Festival</h4>
          <p>March 4th - 6th at the SF Design Center</p>

          <h4>TechStars Boulder</h4>
          <p>Applications due March 14th</p>

          <h4>DreamIt Ventures</h4>
          <p>Applications due March 15th, aka, the Ides of March</p>

          <h4>500 Startups - Spring 2013</h4>
          <p>Applications due March 25th</p>

          <h4>Y Combinator - Summer 2013</h4>
          <p>Applications due March 29th</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; <a href="http://www.pickmoto.com">Pickmoto</a> 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>

  </body>
</html>
